/* responsive width:768px to  width:1024px start */
@media screen and (min-width:768px) and (max-width:1024px) {
    .nav-container {
        
        justify-content: space-between;
        margin-left: 50px;
      }
      .banner-goat-container{
        margin-left: 50px;
      }
      .online-game-card-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 150px;
        align-content: center;
        justify-content: center;
        gap: 50px;
      }
      .play-container{
        margin-top: 500px;   
        width: 100%;
        justify-content: space-around;
        gap: 90px;
      }
      .play-image-big{
        width: 100%;
        position: relative;
      }
      .play-image-small{
        width: 70%;
        position: absolute;
        top: 180px;
       left: -50px;

      }
}
/* responsive width:768px to  width:1024px end */

/* responsive width:576px to  width:768px start */
@media screen and (min-width:576px) and (max-width:768px) {
    .nav-container {
        margin: 0 auto;
      }
      .nav-menu-items {
        justify-content: space-between;
      }
      .online-game-card-items {
        flex-wrap: wrap;
        max-width: 100%;
        margin: 20px 50px;
        gap: 20px;
      }
     
      
      .play-container{
        margin-top: 400px;
        width: 100%;
        justify-content: space-between;
        gap: 100px;
      }
      .play-image-big{
        width: 100%;
        position: relative;
      }
      .play-image-small{
        width: 70%;
        position: absolute;
        top: 130px;
       left: -40px;

      }
      .play-title {
        text-align: center;
        font-size: 35px;
        margin-right: 10px;
      }
      .play-description {
        color: #534c64;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
        
      }
}
/* responsive width:576px to  width:768px end */

/* responsive width:576px start */ 

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .nav-menu-items {
    flex-direction: column;
  }
  .nav-menu-items a,
  .nav-menu-icon {
    margin-top: 30px;
  }
  .banner-goat-container {
    flex-direction: column-reverse;
    margin-top: 150px;
  }
  .banner-goat-content {
    margin-top: 50px;
  }
  .banner-image img {
    width: 80%;
    margin-left: 50px;
  }
  .online-game-card-items {
    flex-direction: column;
    margin-right: 50px;
  }
  .online-game-title {
    font-size: 20px;
  }
  .game-title-style {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 700;
  }
  .online-game-title {
    color: #0b0223;
    font-size: 25px;
    font-weight: 700;
  }
  .card-image {
    max-width: 350px;
    margin: 20px auto;
  }
  .card-caption {
    font-size: 12px;
    text-align: center;
  }
  .online-game-description {
    font-size: 10px;
    margin-top: 10px;
  }
  .play-container {
    flex-direction: column;
    margin-top: 1500px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
  }
  .play-title {
    text-align: center;
    font-size: 40px;
    margin-right: 20px;
  }
  .play-description {
    color: #534c64;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }
  .play-image {
    position: relative;
  }
  .play-image-big {
    width: 90%;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 30px;
  }
  .play-image-small {
    width: 60%;
    position: absolute;
    top: 120px;
    left: 0px;
  }

  .random-container {
    margin-top: 100px 0;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }
  .random-btn {
    color: #0b0223;
    font-size: 16px;
    font-weight: 600;
  }
  .random-btn img {
    width: 20%;
  }
  .footer-container {
  height:100vh;
  background-color: #0b0223;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    
    
  }
  .footer-menu a{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    gap: 5px;
    padding: 20px;
  }
  .footer-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-description {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 210px;
    margin: 0 auto;
    
  }
}

/* responsive width:576px start */ 
