@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@600&family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* common use  */
.font-color {
  color: #3c354f;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
/*header and nav-container style start */
.nav-container {
  max-width: 1400px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-log {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-image {
  width: 75px;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-title-first-latter {
  color: rgb(241, 53, 53);
}
.nav-menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu-items a {
  text-decoration: none;
  margin-right: 20px;
}
.nav-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  gap: 10px;
  background-color: #d4d3d6;
  padding: 10px 15px;
  border-radius: 5px;
}
.fa-youtube {
  color: red;
}
/* header and nav container style end */

/* banner-goat-container style start */
.banner-goat-container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-goat-content {
  background-image: url(./images/Group\ 14.png),
    linear-gradient(
      223deg,
      rgba(140, 87, 238, 0.03) 0%,
      rgba(241, 68, 174, 0.03) 100%
    );
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
}

.goat-content-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-main-title {
  text-align: center;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-content-short-description {
  color: #534c64;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 20px;
}
.goat-content-button {
  margin-top: 30px;
  padding: 15px 40px;
  border-radius: 45px;
  background-color: #ff42a5;
  border: none;
  color: white;
  text-transform: uppercase;
}
.second {
  background-color: #4ec5f7;
}
.banner-image img {
  width: 100%;
  object-fit: cover;
}

/* banner-goat-container style end */

/* online-game-container style start */
.online-game-container {
  max-width: 1400px;
  height: 500px;
  margin: 50px auto;
}
.online-game-content {
  text-align: center;
  margin: 20px 0;
}
.online-game-card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.online-game-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.game-title-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-game-card {
  max-width: 280px;
  position: relative;
}
.card-image {
  max-width: 280px;
}
.card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 80px;
  color: white;
  font-size: 15px;
}
.fa-solid {
  font-size: 30px;
}
.card-icon-title {
  color: #f948b2;
  font-weight: bolder;
  padding: 10px 0;
}
.card-image:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(./images/Rectangle\ 4.png);
  background-blend-mode: overlay;
  cursor: pointer;
}
.card-icon:hover {
  visibility: visible;
}

/* online-game-container style end */

/* play-container start  */
.play-container {
  max-width: 1400px;
  height: 75%;
  margin: 200px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.play-image {
  position: relative;
}
.play-image-big {
  width: 100%;
  object-fit: cover;
}
.play-image-small {
  width: 70%;
  position: absolute;
  top: 200px;
  left: -60px;
}

.play-title {
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  max-width: 340px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.play-title-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  max-width: 380px;

  
}
/* play-container end  */
